SUPABASE_URL=https://xpoucdxmowaeopotclli.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhwb3VjZHhtb3dhZW9wb3RjbGxpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDk4NTc0MSwiZXhwIjoyMDg2NTYxNzQxfQ.w3WNGMySTkY_DX_qfJ5GwLoUOUNMgQk-f4IOFxM6wkI
OPENAI_API_KEY=your-openai-key
RESEND_API_KEY=your-resend-key
EMAIL_FROM=Wealbee <no-reply@yourdomain.com>


